services:
  frontend:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    ports:
      - '3000:3000'
    command: sh -c "npm install && npm run dev"
    environment:
      NODE_ENV: development
