services:
  frontend:
    build:
      context: .
      target: runner
    restart: always
    environment:
      NODE_ENV: production
    networks:
      - dokploy-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend-portfolio.rule=Host(`leosgarbi.com.br`)"
      - "traefik.http.routers.frontend-portfolio.entrypoints=websecure"
      - "traefik.http.routers.frontend-portfolio.tls=true"
      - "traefik.http.routers.frontend-portfolio.tls.certresolver=letsencrypt"
      - "traefik.http.services.frontend-portfolio.loadbalancer.server.port=3000"

networks:
  dokploy-network:
    external: true
